<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718962825258-l05ji26518shue5n46a36338sihre955.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718962825258-l05ji26518shue5n46a36338sihre955</string>
	<key>API_KEY</key>
	<string>AIzaSyA6Sc2Ew7lu_b2fpt617OkumPXyi4fGEps</string>
	<key>GCM_SENDER_ID</key>
	<string>718962825258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authDemo</string>
	<key>PROJECT_ID</key>
	<string>auth-demo-672c9</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-demo-672c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718962825258:ios:f3261628874d8c3b234b53</string>
</dict>
</plist>