<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386849417277-32bq82vi034sd3h1sqejvnlaokkaagf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386849417277-32bq82vi034sd3h1sqejvnlaokkaagf5</string>
	<key>API_KEY</key>
	<string>AIzaSyDesfIisQ2Cjj6irRAtm8mUe7FRu-ZnfvE</string>
	<key>GCM_SENDER_ID</key>
	<string>386849417277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mgbvox.idash</string>
	<key>PROJECT_ID</key>
	<string>idash-13ef7</string>
	<key>STORAGE_BUCKET</key>
	<string>idash-13ef7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386849417277:ios:0182cc8affb1fd65e7e254</string>
</dict>
</plist>